$color-primary    : #6e6e6e;
$color-dark-grey  : #b2b2b2;
$color-grey       : #dadad9;
$color-secondary  : #8a9aad;
$color-dark       : #3c3c3c;
$color-tertiary   : #990000;

$color-base-white : #ffffff;
